<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="row">
    <div class="twelve columns"
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "u-full-width" %>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "u-full-width"%>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "u-full-width" %>
    </div>
  </div>

  <div>
    <%= f.submit "Sign up", class: "button button-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
