<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="six columns">
      <%= form.label :first_name %>  
      <%= form.text_field :first_name, class: "u-full-width" %>
    </div>
    
    <div class="six columns">
     <%= form.label :last_name %>
      <%= form.text_field :last_name, class: "u-full-width" %>
    </div>
  </div>
  
  <div class="row">
    <div class="twelve columns">
      <%= form.label :location %>
      <%= form.text_field :location, class: "u-full-width" %>
    </div>
  </div>
<div class="row">
  <div class="six columns">
    <h4>Groups</h4>
    <%= form.label :link_group %>
    <%= form.select :link_group, @groups_for_select, include_blank: "add this person to a group", class: "u-full-width"%>
    <% if @person.groups.any? %>
      <% @person.groups.each do |group| %>
        <li><%= group.name %></li>
      <% end %>
    <% end %>
  </div>
  <div class="six columns">
    <h4>Events</h4>
    <%= form.label :link_event %>
    <%= form.select :link_event, @events_for_select, include_blank: "add events", class: "u-full-width" %>
    <% if @person.events.any? %>
       <ul>
        <% @person.events.each do |event| %>
          <li><%= event.name %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>

  <div class="row">
    <div class="twelve columns">
      <%= form.label :images %>
      <%= form.file_field :images, multiple: true, name: "person_images[]", class: "u-full-width"%>
    </div>



    <div class="actions">
      <%= form.submit class: "button button-primary" %>
  </div>
<% end %>
