<h1>People</h1>
<div class="row">
  <div class="six columns">
    <%= form_tag search_people_path, method: :get do %>
      <div>Search by first name, last name, or first and last names</div> 
      <%= search_field_tag :search_params, nil, class: "u-full-width" %>
      <%= submit_tag "Search" %>
    <% end %>
  </div>
</div>

<div class="row">
  <%= link_to 'New Person', new_person_path %>
</div>
<div class="row"
  <%= paginate @people %>
</div>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Groups</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td>
          <% if person.images.any? %>
            <%= link_to person do %>
              <%= image_tag person.images.first.image.thumb.url %>
            <% end %>
          <% end %>
        </td>
        <td><%= link_to person.full_name, person %></td>
        <td><% person.groups.each do |group| %>
              <%= link_to group.name + " ", group %>
            <% end %>
            </td>
        <td><%= link_to 'Edit', edit_person_path(person) %> | <%= link_to 'Delete', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


