<h2>Search Results</h2>
<div>search params: <strong><%= params[:search_params] %></strong></div>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Location</th>
      <th>Groups</th>
    </tr>
  </thead>
  <tbody> 
    <% @people.each do |person| %>
      <tr>
        <td><%= link_to person do %>
            <%= image_tag person.images.first.image.thumb.url if person.images.any? %>
            <% end %></td>
        <td><%= link_to person.full_name, person %></td>
        <td><%= person.location %></td>
        <td><%= person.groups.pluck(:name).join(", ") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
