<h4>
  <%= @person.full_name %>
</h4>
<div>
  <%= link_to 'Edit', edit_person_path(@person) %> 
</div>
<div>
  <%= @person.location %>
</div>
<div>
  <% if @person.events.any? %>
    <h4>Events</h4>
    <ul>
      <% @person.events.each do |event| %>
        <li>
          <%= link_to event.name, event %>
          <%= link_to remove_linked_event_person_path(event_id: event.id), data: {confirm: "remove linked event?"} do %>
            <%= fa_icon "times-circle" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
<div>
  <% if @person.groups.any? %>
    <h4>Groups</h4>
    <ul>
      <% @person.groups.each do |group| %>
        <li><%= link_to group.name, group %>
        <%= link_to remove_linked_group_person_path(group_id: group.id), data: {confirm: "remove linked group?"}  do %>
          <%= fa_icon "times-circle" %>
      <% end %></li>
      <% end %>
    </ul>
  <% end %>
</div>
<div>
  <% if @person.notes.any? %>
    <h4>Notes</h4>
    <% @person.notes.each do |note| %>
      <div><%= note.content %></div>
      <div><%= "Added #{note.created_at}" %></div>
    <% end %>
  <% end %>
</div>

<div class="note-form row">
  <%= render partial: "layouts/note_form", locals: { item_type: :person, item_id: @person.id } %>
</div>
<div class="photo-container">
  <% @photo_arr.each do |row| %>
    <div class="row">
      <% row.each do |image| %>
        <div class="three columns">
          <%= link_to remove_linked_image_person_path(photo_id: image.id), data: {confirm: "remove linked image?"} do %>
            <%= fa_icon "times-circle", class: "pull-right" %>
          <% end %>
          <%= link_to image_path(image) do %>
            <%= image_tag image.image.thumb.url %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
