<%= form_with(model: group, local: true) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="twelve columns">
      <%= form.label :name %>
      <%= form.text_field :name, class: "u-full-width" %>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <%= form.label :description %>
      <%= form.text_area :description, class: "u-full-width" %>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <%= form.label :location %>
      <%= form.text_field :location, class: "u-full-width" %>
    </div>
  <div>
  <div class="row">
    <div class="actions">
      <%= form.submit class: "button button-primary" %>
    </div>
  </div>
<% end %>
