<p id="notice"><%= notice %></p>

<h1>Groups</h1>
<%= link_to 'New Group', new_group_path %>
<%= paginate @groups %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image</th>
      <th>Location</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, group %></td>
        <td><%= link_to group.description, group %></td>
        <td><% if group.images.any? %>
              <%= link_to group  do %>
                <%= image_tag group.images.first.image.thumb.url %>
              <% end %>
            <% end %>
        </td>
        <td><%= group.location %></td>
        <td><%= link_to 'Edit', edit_group_path(group) %> | <%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


