<p id="notice"><%= notice %></p>

<h2><%= @group.name %></h2>
<div>
  <%= link_to 'Edit', edit_group_path(@group) %> |
  <%= link_to 'Back', groups_path %>
</div>

<p><strong>Location:</strong><%= @group.location %>
<p>
  <strong>Description:</strong>
  <%= @group.description %>
</p>
<% if @group.people.any? %>
<h4>Members</h4>
  <ul>
    <% @group.people.each do |person| %>
      <li><%= link_to person.full_name, person %></li>
    <% end %>
  </ul>
<% end %>
<div>
  <% if @group.notes.any? %>
    <h4>Notes</h4>
    <% @group.notes.each do |note| %>
      <div><%= note.content %></div>
      <div><%= "Added #{note.created_at}" %></div>
    <% end %>
  <% end %>
</div>

<div class="note-form row">
  <%= render partial: "layouts/note_form", locals: { item_type: :group, item_id: @group.id } %>
</div>
<% if @group.images.any? %>
  <% @group.images.each do |image| %>
    <div>
      <%= link_to image do %>
        <%= image_tag image.image.thumb.url %>
      <% end %>
    </div>
  <% end %>
<% end %>
