<table>
  <thead>
    <tr>
      <th>email</th>
      <th>authorized?</th>
      <th>admin?</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.authorized %></td>
      <td><%= user.admin %></td>
    </tr>
  <% end %>
  </tbody>
</table>
