<h1>Edit Event</h1>

<%= form_with(model: @event, local: true) do |form| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
        <% @event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="twelve columns">
      <%= form.label :name %>
      <%= form.text_field :name, class: "u-full-width" %>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <%= form.label :description %>
      <%= form.text_area :description, class: "u-full-width" %>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <%= form.label :date %>
      <%= form.date_field :date, class: "u-full-width" %>
    </div>
    <div class="six columns">
      <%= form.label :location %>
      <%= form.text_field :location, class: "u-full-width" %>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns select-container">
      <%= form.label :people %><small>use ctrl or shift to select multiple</small>
      <%= form.select :people, options_for_select(@people_for_select, @event.people), {include_blank: true}, { name: 'event_people[]', class:"u-full-width multiple-select", multiple: true} %> 
    </div>
  </div>

  <div class="row">
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true, name: "event_images[]", class: "u-full-width" %>
  </div>

  <div class="field">
    <%= form.label :videos %>
    <%= form.file_field :videos, multiple: true, name: "event_videos[]" %>
  </div>


  <div class="actions">
    <%= form.submit class: "button button-primary" %>
  </div>
<% end %>

<%= link_to 'Back', events_path %>
