<h1>Events</h1>
<%= link_to 'New Event', new_event_path %>
<%= paginate @events %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Description</th>
      <th>Images</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.name, event %></td>
        <td><%= link_to event.date, event %></td>
        <td><%= link_to event.description, event %></td>
        <td><% if event.images.any? %>
              <%= link_to event do %>
                <%= image_tag event.images.first.image.thumb.url %>
              <% end %>
            <% end %>
        </td>
        <td><%= link_to 'Edit', edit_event_path(event) %> | <%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


