<h1>New Event</h1>

<%= form_with(model: @event, local: true) do |form| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
        <% @event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>
  <div class="row">
    <div class="twelve columns select-container">
      <%= form.label :people %>
      <%= form.select :people, options_for_select(@people_for_select), { include_blank: true}, {class: "u-full-width multiple-select", name: "event_people[]", multiple: true} %> 
    </div>
  </div>
  <div class="field">
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true, name: "event_images[]" %>
  </div>
  
  <div class="field">
    <%= form.label :videos %>
    <%= form.file_field :videos, multiple: true, name: "event_videos[]" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', events_path %>
