<h4><%= @event.name %></h4>
<%= link_to "Edit", edit_event_path(@event) %>
<div>
  <%= @event.date %>, <%= @event.location %>
</div>
<div>
  <%= @event.description %>
</div>
<div>
  <h4>Participants</h4>
  <ul>
    <% @event.people.each do |person| %>
      <li>
        <%= link_to "#{person.full_name}, #{person.location}", person %>
        <%= link_to remove_linked_person_event_path(person_id: person.id), data: { confirm: "remove linked person?" } do %>
          <%= fa_icon "times-circle", class: "pull-right" %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
<div>
  <% if @event.notes.any? %>
    <h4>Notes</h4>
    <% @event.notes.each do |note| %>
      <div><%= note.content %></div>
      <div><%= "Added #{note.created_at}" %></div>
    <% end %>
  <% end %>
</div>

<div class="note-form row">
  <%= render partial: "layouts/note_form", locals: { item_type: :event, item_id: @event.id } %>
</div>

<div class="video-container">
  <% @video_arr.each do |video| %>
    <div>
      <%= video_tag video.video.to_s,  controls: true, size: "900x900" %>
    </div>
  <% end %>
<div>

<div class="photo-container">
  <% @photo_arr.each do |row| %>
    <div class="row">
      <% row.each do |image| %>
        <div class="three columns">
          <%= link_to remove_linked_image_event_path(photo_id: image.id), data: {confirm: "remove linked image?"} do %>
            <%= fa_icon "times-circle", class: "pull-right" %>
          <% end %>
          <%= link_to image_path(image) do %>
            <%= image_tag image.image.thumb.url %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
