  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row">
      <div class="twelve columns">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "u-full-width" %>
      </div>
    </div>

    <div class="row">
      <div class="twelve columns">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "u-full-width" %>
      </div>
    </div>

    <% if devise_mapping.rememberable? %>
      <div>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div>
      <%= f.submit "Log in", class: "button button-primary" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
