<%= form_with(model: image, local: true) do |form| %>
  <% if image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
        <% image.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="twelve columns">
      <%= form.label :image %>
      <%= form.file_field :image %>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <%= form.label :description %>
      <%= form.text_area :description, class: "u-full-width"%>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <%= form.label :location %>
      <%= form.text_field :location, class: "u-full-width"%>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <%= form.label :link_person %>
      <%= form.select :link_person, @people_for_select, {include_blank: "add a person to this photo (ctrl-click to add multiple)"},{ multiple: true, class: "u-full-width multiple-select" } %>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <%= form.label :link_event %>
      <%= form.select :link_event, @events_for_select, {include_blank: "add an event to this photo"}, class: "u-full-width" %>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <%= form.label :link_group %>
      <%= form.select :link_group, @groups_for_select, {include_blank: "add a group to this photo (ctrl-click to add multiple)"}, {multiple: true, class: "u-full-width multiple-select"} %>
    </div>
  </div>
  
  <div class="row">
      <%= form.submit class: "button button-primary" %>
  </div> 
<% end %>
