<h1>Editing Image</h1>


<%= form_with(model: @image, local: true) do |form| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
        <% @image.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <div class="row">
    <div class="twelve columns">
      <%= form.label :description %>
      <%= form.text_area :description, class: "u-full-width"%>
    </div>
  </div>

 <div class="row">
    <div class="twelve columns">
      <%= form.label :location %>
      <%= form.text_field :location, class: "u-full-width"%>
    </div>
  </div>

  <% if @image.people.any? %>
    <div>
      <h4>People in this photo</h4>
        <% @image.people.each do |person| %>
          <ul>
            <li><%= person.full_name %></li>
          </ul>
        <% end %>
    </div>
  <% end %>

 <div class="row">
    <div class="twelve columns">
      <%= form.label :link_person %>
      <%= form.select :link_person, @people_for_select, {include_blank: "add a person to this photo (ctrl-click to add multiple)"},{ multiple: true, class: "u-full-width multiple-select" } %>
    </div>
  </div>

  <% if !@image.event.blank? %>
    <div class="twelve columns">
      Event: <%= @image.event.name %>
    </div>
  <% end %>

 <div class="row">
    <div class="twelve columns">
      <%= form.label :link_event %>
      <%= form.select :link_event, @events_for_select, {include_blank: "add an event to this photo"}, class: "u-full-width" %>
    </div>
  </div>

  <% if @image.groups.any? %>
    <div>
      <h4>Groups in this photo</h4>
        <% @image.groups.each do |group| %>
          <ul>
            <li><%= group.name %></li>
          </ul>
        <% end %>
    </div>
  <% end %>

  <div class="row">
    <div class="twelve columns">
      <%= form.label :link_group %>
      <%= form.select :link_group, @groups_for_select, {include_blank: "add a group to this photo (ctrl-click to add multiple)"}, {multiple: true, class: "u-full-width multiple-select"} %>
    </div>
  </div>
  
  <div class="row">
      <%= form.submit class: "button button-primary" %>
  </div> 

<% end %>


<%= link_to 'Show', @image %> |
<%= link_to 'Back', images_path %>
<div>
  <%= image_tag @image.image.url %>
</div>

