<h1>Images</h1>
<%= link_to 'New Image', new_image_path %>
<%= paginate @images %>
<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Image</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>

    <% @images.each do |image| %>
      <tr>
        <td><%= image.description %></td>

        <td><%= link_to image do %>
              <%= image_tag image.image.thumb.url %>
            <% end %>
        </td>
        <td><%= link_to 'Edit', edit_image_path(image) %> | <%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


