<p>
  <strong>Description:</strong>
  <%= @image.description %>
</p>
<% if @image.event %>
  
  <h4>Event:</h4>
  <div>
    <%= link_to "#{@image.event.name}, #{@image.event.date}", @image.event %>
    <%= link_to remove_linked_event_image_path(event_id: @image.event.id), data: {confirm: "remove linked event?"} do %>
      <%= fa_icon "times-circle" %>
    <% end %>
  </div>
<% end %>

  <h4>Location:<%= @image.location %></h4>
<div>
  <h4>People in image</h4>
  <ul>
    <% @image.people.each do |person| %>
      <li>
        <%= link_to person.full_name, person %>
        <%= link_to remove_linked_person_image_path(person_id: person.id), data: {confirm: "remove linked person?"} do %>
          <%= fa_icon "times-circle" %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<div>
  <h4>Groups in Image</h4>
  <ul>
    <% @image.groups.each do |group| %>
      <li>
        <%= link_to group.name, group %>
        <%= link_to remove_linked_group_image_path(group_id: group.id), data: {confirm: "remove linked group?"} do %>
          <%= fa_icon "times-circle" %>
        <% end %>
      </li>
    <% end %>
  </ul>

</div>
<div>
  <% if @image.notes.any? %>
    <h4>Notes</h4>
    <% @image.notes.each do |note| %>
      <div><%= note.content %></div>
      <div><%= "Added #{note.created_at}" %></div>
    <% end %>
  <% end %>
</div>

<div class="note-form row">
  <%= render partial: "layouts/note_form", locals: { item_type: :image, item_id: @image.id } %>
</div>

<%= link_to 'Edit', edit_image_path(@image) %><span class="pull-right"><%= link_to "Full Size", full_size_image_path(@image) %></span>
<div>
  <%= image_tag @image.image.medium.url %>
</div>


