<%= form_with(url: "/add_note", method: :post) do  %>
  
  <%= label_tag "Add a note" %>
  <%= text_area_tag :content, nil, {class: "u-full-width"} %>
  <%= hidden_field_tag :item_type, item_type %>
  <%= hidden_field_tag :item_id, item_id %>
  <%= submit_tag "Create" %>

<% end %>
