<!DOCTYPE html>
<html>
  <head>
    <title>PhotoSharing</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <div class="container">
  <% if user_signed_in? && current_user.authorized %>
    <div class="navbar">
      <%= link_to "People", people_path %> | 
      <%= link_to "Images", images_path %> | 
      <%= link_to "Events", events_path %> |
      <%= link_to "Groups", groups_path %>
      <span class="pull-right">
        <%= link_to "log out", destroy_user_session_path, method: :delete %>
      </span>
    </div>
  <% end %>
    <p id="notice"><%= notice %></p>
    <%= yield %>
  </div>
  </body>
</html>
